

/* entrada suabe de la pagina */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}


/* Estilo del encabezado y navegación */
header {
  background-color: #0e284d;
  padding: 20px 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: background-color 0.3s, padding 0.3s;
}

header.active {
  padding: 10px 0;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 120px;
  height: auto;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  color: white
  

  
}

.menu-toggle span {
  font-weight: bold;
  margin: 2px 8px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

nav li {
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s;
  margin: 2px 8px;
}

nav a:hover {
  color: #bbb75b;
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }

  nav ul {
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0px;
    right: 0;
    background-color: #0e284d;
    display: none;
  }

  nav ul.active {
    display: flex;
  }

  nav li {
    margin: 10px 0;
  }

  nav a {
    font-size: 16px;
  }
}



/* Estilo del hero */
.hero {
    background-image: url('Encabezado/Mi-proyecto-D.jpeg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 150px 0;
  }
  
  .hero h1 {
    font-size: 48px;
    margin-bottom: 10px;
  }
  
  .hero p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 25px;
    background-color: #0e284d;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    transition: background-color 0.3s;
  }
  
  .btn:hover {
    background-color: #bbb75b;
  }
  
  /* Estilo de la sección de servicios */
  .servicios {
    padding: 80px 0;
    text-align: center;
  }
  
  .servicio {
    margin-bottom: 40px;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
  }
  
  .servicio img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  }

  .servicios h2 {
    font-size: 36px;
    margin-bottom: 40px;
    color: #0e284d;
    position: relative;
  }
  
  .servicios h2::before {
    content: '';
    position: absolute;
    width: 60px;
    height: 4px;
    background-color: #bbb75b;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .servicio h3 {
    font-size: 24px;
    margin: 20px 0;
    color: #0e284d;
    transition: color 0.3s;
  }
  
  .servicio p {
    font-size: 16px;
  }
  
  .servicio:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .servicio:hover h3 {
    color: #bbb75b;
  }
  
  
/* Estilo de la sección de Misión y Visión */
.mision-vision {
    background-color: #0e284d;
    padding: 80px 0;
    text-align: center;
    color: white;
  }
  
  .mision-vision .container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .mision h3, .vision h3 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #bbb75b;
  }
  
  .mision p, .vision p {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 1.6;
  }
  


/* Estilo de la sección de Valores */
.valores {
    background-color: #bbb75b;
    padding: 80px 0;
    text-align: center;
    color: white;
  }
  
  .valores .container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .valores h2 {
    font-size: 32px;
    margin-bottom: 30px;
    color: #0e284d;
  }
  
  .valor {
    margin-bottom: 40px;
  }
  
  .valor h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #0e284d;
  }
  
  .valor p {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 1.6;
  } 

/* Estilo de la sección de Realizar Cotización */
.cotizacion {
  background-color: #f4f4f4;
  padding: 80px 0;
  text-align: center;
}

.cotizacion .container {
  max-width: 800px;
  margin: 0 auto;
}

.cotizacion h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #0e284d;
}

.cotizacion p {
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 1.6;
}

  /* Estilo de la sección de Marcas */
  .marcas {
    background-color: #f4f4f4;
    padding: 80px 0;
    text-align: center;
  }
  
  .marcas .container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .marcas h2 {
    font-size: 28px;
    margin-bottom: 30px;
    color: #0e284d;
  }
  
  .marcas-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 30px;
    justify-items: center;
    align-items: center;
  }
  
  .marcas-list img {
    max-width: 100px;
    max-height: 80px;
    transition: transform 0.3s ease-in-out;
  }
  
  .marcas-list img:hover {
    transform: scale(1.1);
  }


  footer {
    background-color: #0e284d;
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  
  footer ul {
    list-style: none;
    margin-top: 10px;
  }
  
  footer li {
    display: inline-block;
    margin: 0 10px;
  }
  
  footer a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
  }
  
  footer a:hover {
    color: #bbb75b;
  }
  
  /* Media queries para diseño responsivo */
  @media screen and (max-width: 768px) {
    .logo {
      justify-content: center;
      margin-bottom: 20px;
    }
  
    nav ul {
      flex-direction: column;
      align-items: flex-start;
    }
  
    nav li {
      margin: 10px 0;
    }
  }
  